@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



:root{
  --color-1: #012D4E;
  --color-2: #d4dde7;
  --color-3: #00D8C3;
  --color-4: #081854;
  --color-5: #6B6E70;
  --color-6: #DEE5E8;
  --color-7: #3F3D56;
  --color-8: #007BFF;
  --color-9: #259C40;
  --border: border: 1px solid var(--color-3);
}

::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-1);
  border-radius: .3rem;
}

::-webkit-scrollbar-track{
  background-color: var(--color-5);
}

a{
  text-decoration: none;
}

/* Titles */
h5{
  color: var(--color-6);
}

.h5{
  color: var(--color-7);
  font-size: 1.1rem;
  font-weight: 600;
}

.bg-primary{
  background-color: var(--color-1)  !important;
}

.bg-secondary{
  background-color: var(--color-6) !important;
}


.bg-purple{
  background-color: var(--color-7);
}



/* Buttons */

.btn-primary{
  color: var(--color-4) !important;
  background-color: var(--color-3) !important;
  border: none !important;
  width: 10rem;
  margin: 2rem 0;
  font-weight: 700;
}

.btn:hover{
  background-color: none;
  border: 1px solid var(--color-3);
}

.btn-success{
  background-color: var(--color-9)  !important;
  padding: .4rem 1rem;
}
/* Colors text */

.text-primary{
  color: var(--color-5) !important;
}

.h-100vh{
  min-height: 100vh;
}

/* imgs */
.logo-access{
  width: 8.5rem;
}

/* Gestão acedemica */

.title-h4{
  font-weight: 600;
  color: var(--color-4);
}

