
.btn_submit{
    width: 100%;
    padding: .5rem 1rem;
    color: #ffff;
    background-color: var(--color-3);
    border: none !important;
    margin: 1rem 0;
    font-weight: 700;
    border-radius: .4rem;
    transition: all .30s ease-in-out;
}

.btn_submit:hover{
    /* background-color: #00d8c2bd; */
    background-color: transparent;
    border: 1px solid var(--color-3) !important;
    color: var(--color-1);
}

.btn_primary{
    width: 100%;
    padding: .5rem 1rem;
    background-color: var(--color-3);
    border: none !important;
    font-weight: 500;
    border-radius: .4rem;
    transition: all .30s ease-in-out;
    margin: 0 .5rem ;
}

.text_Color_secondary{
    color: var(--color-4) !important;
}

.text_Color_primary{
    color: #fff !important;
}


.btn_secondary{
    background-color: var(--color-6);
    border: 1px solid var(--color-3) !important;
    color: var(--color-1) !important; 
    font-weight: 500;
    border-radius: .4rem;
    width: 100%;
    padding: .5rem 1rem;
    margin: 0 .5rem ;
}

.bg_blue{
    font-weight: 500;
    border-radius: .4rem;
    width: 8rem;
    padding: .5rem 1rem;
    margin: 0 .5rem ;
    background-color: var(--color-8) !important;
    column-rule: #fff;
  }




