*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 1rem;
    font-size: 2.1rem;
}

.bold{
    font-weight: bold;
    color: #16479d
}

a{
    text-decoration: none;
    color: #fefefe;
}

li{
    list-style: none;
}

.btn{
    /* background-color: ; */
}

.pointer{
    cursor: pointer;
}