.container input{
    border: none;
    border-radius: none;
    padding: .4rem;
    width: 100%;
    outline: none;
    border-bottom: 2px solid var(--color-6);
}

.container input:focus{
    border-color: var(--color-3);
}

.container .icons{
    padding: .4rem;
    border-bottom: 2px solid var(--color-4)
}

.container label{
    font-weight: 600;
}