.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.container img{
    width: 30rem;
}

.container a{
    color: #00D8C3 !important;
    text-decoration: underline;
}